source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners 
nuget OxyPlot.GtkSharp 1.0.0
nuget OxyPlot.Core 1.0.0
nuget Nuget.CommandLine
nuget FAKE
nuget FSharp.Control.AsyncSeq